.MuiCardHeader-title{
    margin-left: 1rem !important;
    margin-bottom: -2rem !important;
}

.formatXAxisLabel {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.highcharts-axis-labels > span {
    left: 0 !important;
}