@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('./assets/fonts/ClashDisplay-Variable.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/inter-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('./assets/fonts/inter-v12-latin-500.woff2') format('woff2'),
    url('./assets/fonts/inter-v12-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'),
    url('./assets/fonts/inter-v12-latin-700.woff') format('woff');
}
